<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
    <insert id="insertTProCharptList" parameterType="java.util.List">
        insert into t_pro_charpt
        (title,introduce,requirement,creators,root,root_ord,is_lock,finish,create_by,create_dat,l_update_dat,is_del)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.title},
                #{item.introduce},
                #{item.requirement},
                #{item.creators},
                #{item.root},
                #{item.rootOrd},
                #{item.isLock},
                #{item.finish},
                #{item.createBy},
                #{item.createDat},
                #{item.lUpdateDat},
                #{item.isDel})
        </foreach>

    </insert>
</mapper>
